* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

#accordion {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.accordion__item {
  border: 0.1rem solid #000;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: blue;
}

.accordion__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.5rem;
}

.accordion__span {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: 700;
  font-size: 2rem;
}

.accordion__desc {
  text-align: center;
  cursor: pointer;
}

#accordion label+input[type="radio"] {
  display: none;
}

#accordion .accordion__desc {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
}

#accordion label+input[type="radio"]:checked+.accordion__desc {
  max-height: 100vh;
}

#accordion label+input[type="radio"]:hover+.accordion__desc {
  max-height: 100vh;
}

.accordion__item:active .accordion__label {
  -webkit-filter: blur(0.1rem);
  filter: blur(0.1rem);
  color: #50085a;
}

.accordion__item:active .accordion__desc img {
  -webkit-filter: blur(0.1rem);
  filter: blur(0.1rem);
}

.accordion__img {
  width: 40%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (hover: hover) and (max-width: 1000px) {
  #accordion label+input[type="radio"]:hover+.accordion__desc {
    max-height: 0vh;
  }
}

@media (max-width: 1000px) {
  .accordion__item {
    font-size: 1.5rem;
  }

  .accordion__span {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .accordion__item {
    font-size: 1.3rem;
  }

  .accordion__span {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .accordion__item {
    font-size: 1rem;
  }

  .accordion__span {
    font-size: 1rem;
  }
}